@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,900&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins',sans-serif;
}

.main
{
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
}

.menu
{
    width: 20%;
    background-color: #1977cc;
}

#logo
{
    color: #fff;
    font-size: 25px;
    letter-spacing: 0.2px;
    padding: 15px;
}

.menu a
{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.01px;
    display: list-item;
    padding: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.menu a:hover
{
    background-color: #3fbbc0;
    transition: 0.5s;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.body
{
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    
}


.container-fluid
{
    background-color: #1977cc;
    margin-top: -10px;
    margin-bottom: -20px;
    
}

#navbarNavDarkDropdown
{
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.2px;
    padding: 16px;
}

.container
{
    width: 90%;
    margin: 30px auto;
    
}
.container h1
{
    color: #444444;
    text-align: left;
    font-size: 28px;
    font-weight: 700;
}

.info
{
    width: 900px;
    text-align: left;
    padding-left: 70px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
}
#exampleFormControlInput1, #exampleFormControlInput2, #exampleFormControlInput3, #exampleFormControlInput4, #exampleFormControlTextarea1, #exampleFormControlInput5, #formFile
{
    font-size: 12px;
}
.final-button
{
    padding:10px;
}
